{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
          <h3 class="card-title text-center">Reset your password</h3>
          <p class="text-center">Enter your email address and we will send you a link to reset your password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            
            <div class="text-center">
              <button class="btn btn-primary mt-3 w-50" type="submit">Reset</button>
            </div>
          </form>
        </div>
      </div>
</div>
{% endblock %}
