{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}


{% block content %}
<div class="container">

  <div class="card mt-5">
    <div class="card-body">
      <h3 class="card-title text-center">Change Password</h3>

      <form method="post">{% csrf_token %}

        {% include 'includes/form.html' %}
        <div class="text-center">
          <button class="btn btn-primary mt-3 w-50" type="submit">Change</button>
        </div>

      </form>
    </div>
    <div class="card-footer">
        
      <div class="list-group text-center">

<span class="help-text pb-2">Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></span>
      </div>
    </div>
  </div>

</div>
{% endblock %}
