{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}


{% block content %}
<div class="container">

    <div class="card mt-5">
        <div class="card-body text-center">

            <h3 class="card-title"><strong>Success!</strong> Your password has been changed.</h3>
            <a href="{% url 'index' %}" class="btn btn-primary mt-3 w-50">Return to home page</a>

        </div>
    </div>

</div>
{% endblock %}


