{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
<link rel="stylesheet" href="{% static 'css/multi.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center">
        <a class="flex-grow-1" href="{% url 'manage_works' %}">
            <i class="fas fa-arrow-alt-circle-left fa-2x purple"></i>
        </a>
        {% if work.active %}
        <a class="work-link" href="{% url 'work_detail' work.pk %}">View Work</a>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            {% if work.art_work %}
            <img src="{{work.art_work.image.url}}" class="d-block w-100" alt="...">
            <div class="text-center work fw-bold d-block mt-2 mb-4">
                <div>{{work.art_work.title}} by {{work.art_work.get_display_name}}</div>
            </div>
            {% else %}
              <h1 class="text-center">Please add an artwork to this article</h1>
              <h4 class="text-center"><a class="work-link" href="{% url 'manage_artworks' %}">Manage Artworks</a></h4>
            {% endif %}
          </div>

    </div>
    <form method="POST">{% csrf_token %}
<div class="row g-3">
    {% crispy form %}
    {{form.media}}
    {{form.non_field_errors}}
    <button type="submit" class="btn btn-primary save-changes mx-auto">Save Changes</button>
</div>


</form>
</div>
{% endblock %}

<!-- {% block js %}
<script src="{% static 'js/multi.js' %}"></script>
<script>
    var select_element = document.getElementById("id_art_works");
multi(select_element);
</script>
{% endblock %} -->