{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
{% endblock %}

{% block content %}
<div class="container pb-5">
  {% include 'includes/ad.html' with ad_type='banner' %}
  <h1 class="text-center pt-3">Books</h1>
  <div class="row">
    <form method="GET" action="">
    <div class="mb-3 col-12 col-md-6 mx-auto">
      <input placeholder="Filter Books..." type="text" value="{{filter}}" name="filter" class="form-control text-center">
    </div>
  </form>
  </div>
  <!-- <input type="text" class="form-control"> -->
    <div class="row g-4 grid">
      {% for book in books %}
      {% if forloop.counter|divisibleby:4 %}
      <div class="col-6 col-lg-4">
      {% include 'includes/ad.html' with ad_type='block' %}
    </div>
      {% endif %}
      <div class="col-6 col-lg-4">
        {% include 'includes/book_card.html' %}
      </div>
      {% endfor %}

  {% include 'includes/pagination.html' with page_obj=books %}
        </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}