{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/detect.css' %}">
{% endblock %}
{% block content %}

<div class="container">

        <div class="text-center row">
            <div class="col-12">
                <div>
                <div style="position: relative;">
                    <canvas width="320" height="240" id="overlay"></canvas>
                    <video width="320" height="240" id="video"></video>
                    
            
                </div>
                <h1 class="result-text">Happiness: <span id="happiness">0</span>%</h1>
                <h1 class="result-text">Disgusted: <span id="disgusted">0</span>%</h1>
            </div>
            
                </div>

    </div>

    
      </div>

{% endblock %}
{% block js %}

<!-- <script src="{% static 'js/detect.js' %}"></script> -->
<script src="{% static 'js/face-api.js' %}"></script>
<script src="{% static 'js/detect.js' %}"></script>

{% endblock %}