.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-name{
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    /* font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif; */
    line-height: 30px;
}
.board{
    color: #596172;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
.bio{
    color: black;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 20px;
}
.link{
    color: #596172;
    text-decoration: none;
    transition: all 300ms ease;
}
.link:hover{
    color: #b374da !important;
}
