.subscribe-bg{
    background-color: #252A40;
    color: white;
}

.sub-input{
    border-radius: 20px;
}
.magazine-index-image{
    object-fit: cover;
    object-position: top;
    width: 100%;
    /* height: 600px; */
}
.index-border{
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-cell {
    width: 33%;
    margin-right: 15px;
  }
  @media (min-width: 992px) {
    .carousel-cell{
        width: 15%;
        margin-right: 15px;
    }
    
}

.magazine-col{
    width: 100%;
}

@media (min-width: 992px) {
    .magazine-col{
        width: 70.83%;
    }
    
}
