h1{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Sorts Mill Goudy', serif; */
    font-weight:bolder;
}
.work{
    color: #596172;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
.work-link{
    color: #596172;
    text-decoration: none;
    transition: all 300ms ease;
}
.work-link:hover{
    color: #b374da !important;
}
.play-sound{
    background: transparent;
    background-color: transparent;
    color: transparent;
    outline: none;
    border: none;
}
.fa-volume-up{
    background: transparent;
    color: #b374da;
    text-decoration: none;
    
}
.card-link{
    text-decoration: none;
    color: #596172;
    transition: all 300ms ease;
}
.card-link:hover{
    color: #b374da;
}
.laugh-track{
    position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#67278e;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    border: none;
    transition: all 300ms ease;
    z-index: 10000;
}
.laugh-track:hover{
    background-color:#b374da;
}


.card-text{
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Sorts Mill Goudy', serif; */
    color: #596172;
}

.info-text{
    font-size: 18px;
}

.buy-icon{
	width:30px;
	height:30px;
	background-color:#67278e;
	color:#FFF;
	border-radius: 50%;
	text-align:center;
    border: none;
    transition: all 300ms ease;
}

#sticky-work{
    z-index: 900;
}

.img-container {
    position: relative;
    background-color: black;
  }
  
  .magazine-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: all 300ms ease;
    backface-visibility: hidden;
  }
  
  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .img-container:hover .magazine-img {
    opacity: 0.5;
  }
  
  .img-container:hover .middle {
    opacity: 1;
  }