{% load static %}
<a class="card-link" href="{% url 'magazine_detail' magazine.pk %}">
    <div class="card shadow mb-4">
        <div class="img-container">
            <img src="{{magazine.cover_image.image.url}}" class="card-img-top magazine-img" alt="">
            <div class="middle">
                <h2 class="">{{magazine.title}}</h2>
            </div>
        </div>

    <div class="card-body text-center">
    <div class="mb-1 mt-2">
        <h2 class="card-title text-center mb-0">{{magazine.title}}</h2>
    </a>
        <!-- <h5 class="mb-1"><div data-bs-toggle="tooltip" data-bs-placement="top" title="{{magazine.get_total_laughs}} Total Laughs" class="badge badge-laugh ms-2">{{magazine.get_total_laughs}}</div></h5> -->
    </div>
    
    <div class="card-text">{{magazine.description|truncatechars_html:200|safe}}</div>
</div>
    </div>