<div class="offcanvas offcanvas-start" tabindex="-1" id="sideNav" aria-labelledby="sideNavLabel">
    <div class="offcanvas-body">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset ms-auto mb-0" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <a class="nav-link mb-2" href="{% url 'index' %}">Home</a>
            <a class="nav-link mb-2" href="{% url 'about' %}">About</a>
            <a class="nav-link mb-2 dropdown-toggle {%if 'read' in request.path %}active{%endif%}" href="{% url 'works' %}" id="readDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Read
            </a>
            <ul class="dropdown-menu shadow" aria-labelledby="readDrop">
                <li><a class="dropdown-item" href="{% url 'works' %}">Pieces</a></li>
                <li><a class="dropdown-item" href="{% url 'magazines' %}">Magazines</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}">Books</a></li>
            </ul>
            <a class="nav-link mb-2" href="{% url 'comp' %}">Comp</a>
            <a class="nav-link mb-2" href="{% url 'masthead' %}">Masthead</a>
            <a class="nav-link mb-2" href="{% url 'contact' %}">Contact</a>
            <!-- <a class="nav-link mb-2" href="{% url 'lottery' %}">Lottery</a> -->
            {% if request.user.is_authenticated %}
            <a class="nav-link mb-2" href="{% url 'account_detail' request.user.url_username %}">My Profile</a>
            
            {% endif %}
            <div class="mx-auto">
                <a class="social-button me-3" href="https://www.facebook.com/theharvardlampoon/"><i class="fa fa-facebook social-icon"></i></a>
                <a class="social-button mx-3" href="https://twitter.com/harvardlampoon"><i class="fa fa-twitter social-icon"></i></a>
                <a class="social-button mx-3" href="https://www.instagram.com/harvardlampoon/"><i class="fa fa-instagram social-icon"></i></a>
            </div>
        </div>
    </div>
</div>