{% load static %}
<a class="card-link" href="{% url 'work_detail' work.pk %}">
  <div class="card shadow" style="border: none">

    <img src="{{work.get_preview_image.image.url}}" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title text-center mb-0 align-items-center d-flex justify-content-center">{{work.title}}{% include 'includes/laugh-badge.html' %}</h5>
    </a>
      <div class="d-flex fw-bold align-items-center justify-content-center">
        {% include 'includes/writer_profile_pic.html' %}
        <span class="dot mx-2 align-self-center"></span>
        <div>{{work.created_at|date:"F Y" }}</div>
      </div>

      <div class="card-text mt-2">{{work.content|striptags|truncatechars:100|safe}}</div>
    </div>
  </div>