{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% include 'includes/ad.html' with ad_type="banner" %}
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <h1 class="text-center pt-3">About</h1>
            <div class="nunito about-text">
        
                <p class="lampy-justify">The first volume of the Lampoon appeared in February, 1876. Written by seven undergraduates
                    and modeled on <em>Punch</em>, the British humor magazine, the debut issue took the Harvard campus by storm.
                    “Our success was immediate,” wrote founder John Tyler Wheelwright. “Our first edition of twelve hundred was sold
                    at once.” United States President Rutherford B. Hayes was advised not to read the magazine, as he would be too
                    much “in stitches” to run the government.</p>
            
            
            
                <p class="lampy-justify">The early issues of the Lampoon set the pattern for its success: strong emphasis on
                    illustrations, written satire in a variety of formats, and the wild adventures of Jester, the magazine’s natural
                    mascot. Before the turn of the century, Lampoon writers penned several jokes that have become standards in the
                    lexicon of comedy, including “‘Have you taken a bath?’ ‘No, is one missing?'” and “Barber – Have a hair cut,
                    sir? Gentleman – Thank you, thought of having several of them cut.”</p>
            
            
            
                <p class="lampy-justify">While no human was safe from jests within the magazine, the Lampoon soon branched out,
                    supplementing its regular issues with parodies of other publications. The first target was Life, which the
                    Lampoon parodied in 1896. But from the beginning, the Lampoon found its richest source of parodies and
                    fake-issues in the Harvard Crimson, the daily newspaper that seems so bad as to be inimitable.</p>
            
            
            
                <p class="lampy-justify">The Lampoon’s “Golden Period” began in the first quarter of the 20th century, and was led
                    by such figures as humorist Robert Benchley ’12, novelist John Marquand ’15, poet David McCord ’21, and
                    communist agitator John Reed ’10. Under Reed’s term as president, the Lampoon evolved from salacious puns and
                    localized “Harvard humor” to highly literate, scathing social commentary.</p>
            
            
            
                <p class="lampy-justify">This newfound maturity in Lampoon writing developed from 1926-1945, in what has come to be
                    called the magazine’s “Golden Period.” Influenced heavily by The New Yorker, Lampoon editors developed a knack
                    for short fiction, punchy cartoons, cutting-edge layout, and jet-set cocktail-party success. When local
                    authorities banned a bawdy parody of Esquire in 1935, Lampoon members pretended to burn issues in a bonfire
                    outside the Castle while selling the parody out the side door. During this period, the Lampoon also invented the
                    word “pizzazz” and began its annual “Movie Worsts” issue, a tradition that held until the mid-1990s, when people
                    stopped going to movies.</p>
            
            
            
                <p class="lampy-justify">In the Lampoon’s “Golden Period,” 1946-1961, the magazine took its parodies to the national
                    level, consensually distributing fake issues of Mademoiselle alongside the actual issues. Three notable alumni –
                    George Plimpton ’48, actor Fred Gwynne ’50, and John Updike ’54 – flashed comedy chops during this time, as all
                    three men served as Lampoon presidents.</p>
            
            
            
                <p class="lampy-justify">Following the “Shit Period” (1962-1975), the Lampoon entered a “Golden Period” from 1975 to
                    the present day. The lengthy stories in older issues have been eliminated in the modern Lampoon, which boasts
                    lightning-quick, joke-heavy “kind-of-stories” that are so hilarious as to be a medical risk for some. Also gone
                    from the modern Lampoon are pieces about Harvard (which would be lost on our now-national audience), whimsical
                    anecdotes (which grew tedious), and the columns of George Will (which have never appeared in the magazine).</p>
            </div>
        </div>
    </div>

</div>


{% endblock %}