{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/misc.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="mb-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">

            <h1 class="text-center">Contact</h1>
                                
            <p>For general inquiries, contact <a href="mailto:info@harvardlampoon.com"><strong>info@harvardlampoon.com</strong></a></p>
            
            
            
            <p>For business inquiries, contact <a href="mailto:businessmanager@harvardlampoon.com"><strong>businessmanager@harvardlampoon.com</strong></a></p>
            
            
            
            <p>For inquiries about subscribing, contact <a href="mailto:subscribe@harvardlampoon.com"><strong>subscribe@harvardlampoon.com</strong></a> </p>
            
            
            
            <p>For inquiries about the Comp, contact <a href="mailto:submissions@harvardlampoon.com"><strong>submissions@harvardlampoon.com</strong></a></p>
            
            
            
            <p>For secrets, contact <a href="mailto:secrets@harvardlampoon.com"><strong>secrets@harvardlampoon.com</strong></a></p>
            
            
            
            <p>If you have a funny joke, text it to 301-412-5788.</p>
        </div>
    </div>

</div>

{% endblock %}