{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}
{% block content %}

<div class="container-fluid px-4">
    {% include 'includes/ad.html' with ad_type='banner' %}
    <div class="row pt-4">
        <div class="magazine-col">
            <div class="d-flex align-items-center">
                <h2 class="me-auto mb-0">What's New: <span class="d-none d-lg-inline">{{magazine.title}}</span></h2>
                <a class="link" href="{% url 'magazine_detail' magazine.pk %}">Read More »</a>
            </div>
            <hr>
        </div>
        <div class="col d-none d-lg-block">
            <div class="d-flex align-items-center">
                <h2 class="me-auto mb-0">Trending</h2>
                <!-- <a class="link" href="{% url 'magazine_detail' magazine.pk %}"></a>
                <div class="dropdown">
                    <a class="dropdown-toggle link" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Today
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div> -->
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col order-1 order-lg-0">
            {% for work in featured_works %}
            {% include 'index/work1_card.html' %}
            {% endfor %}
        </div>
        <div class="col-lg-5 text-center order-0 order-lg-1">
            {% include 'index/magazine.html' %}
        </div>
        <div class="col order-2 order-lg-2">
            <div class="d-lg-none d-block">
                <h2 class="me-auto"><strong>Trending</strong></h2>
                <hr>
            </div>
            {% for work in trending_works %}
            <div class="mb-3">
                {% include 'index/work2_card.html' %}
            </div>
            {% endfor %}
            <div class="shadow">
            <a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/harvardlampoon?ref_src=twsrc%5Etfw">Tweets by harvardlampoon</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

    </div>
    <div class="mb-4">
        {% include 'includes/ad.html' with ad_type='banner' %}
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="">Magazines</h2>
        <a class="link" href="{% url 'magazines' %}">Explore collection »</a>
    </div>
    <hr>
</div>
<div class="main-carousel mb-3" id="magazine-scroll">
    {% for magazine in magazines %}
    <div class="carousel-cell">
        <a href="{% url 'magazine_detail' magazine.pk %}">
            <div class="img-container">
                <img src="{{magazine.cover_image.image.url}}" class="card-img-top magazine-img" alt="">
                <div class="middle">
                    <h2 class="">{{magazine.title}}</h2>
                </div>
            </div>

        </a>
    </div>
    {% endfor %}
</div>

<div class="index-border text-center d-flex align-items-center justify-content-center mb-5">
    <img class="me-2" height="50" src="{% static 'images/lampy_profile.png' %}" alt="">
    <div>
        Like what you're seeing? <a class="link-info" target="_blank"
            href="https://checkout.subscriptiongenius.com/harvardlampoon.com/">Subscribe »</a>
    </div>
</div>


{% endblock %}
{% block js %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    var flkty = new Flickity('#magazine-scroll', {
        pageDots: false,
        freeScroll: true,
        wrapAround: true,
        imagesLoaded: true
    });
</script>
{% endblock %}