{% extends 'base.html' %}csrf
{% load static %}

{% block content %}


<h1 class="text-center">Lampoon Store</h1>

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        
        <img class="thumbnail" src="{{product.imageURL}}" width = "250" height = "250">
        <div class="box-element product">
            <br>
            <h3><strong>{{product.itemname}}</strong></h3>
            <hr>
    
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn updatecart">Add to Cart</button>
            <a class="btn btn-outline-success" href="#" style="background-color: #67278e; border-color: yellow; color: white;">View</a>
            <h4 style="display: inline-block; float: right"><strong>{{product.price}}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
